<!--div class="filter">
  <mat-form-field appearance="outline">
    <mat-label>Année scolaire</mat-label>
    <mat-select [(value)]="selectedAnnee" (selectionChange)="getInscriptions()">
      <mat-option *ngFor="let annee of annees" [value]="annee">{{annee}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mention</mat-label>
    <mat-select [(value)]="selectedMention" (selectionChange)="getInscriptions()">
      <mat-option *ngFor="let mention of (mentionsObs|async)?.data" [value]="mention">{{mention.mentionName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-tab-group [selectedIndex]="selectedNiveau" (selectedIndexChange)="setTabChange($event)">
  <mat-tab *ngFor="let niveau of (niveauxObs|async)?.data" label="{{niveau.niveau}}">

    <mat-paginator [length]="(inscriptions|async)?.size"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   showFirstLastButtons="true"
                   (page)="setPage($event)"
                   aria-label="Select page">
    </mat-paginator>

    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <div class="item">
        <ngx-skeleton-loader count="10" appearance="line"></ngx-skeleton-loader>
      </div>
    </div>

    <mat-accordion *ngIf="((inscriptions|async)?.data.length !== 0); else noContent">
      <mat-expansion-panel *ngFor="let insc of (inscriptions|async)?.data">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{insc.etudiant.nomPrenom.nom + " " + insc.etudiant.nomPrenom.prenoms}}
          </mat-panel-title>
          <mat-panel-description class="description">
            <div class="end-list">
              <div class="custom-chip">
                {{insc.etudiant.matricule}}
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-inscription-details-paiements [insc]="insc"></app-inscription-details-paiements>
      </mat-expansion-panel>
    </mat-accordion>

    <ng-template #noContent>
      <mat-card class="item" *ngIf="noContent">
        Il n'y a aucun étudiant sur la liste que vous recherchez.
      </mat-card>
    </ng-template>

  </mat-tab>
</mat-tab-group-->

<div class="filter">
  <mat-form-field appearance="outline">
    <mat-label>Année scolaire</mat-label>
    <mat-select [formControl]="selectedAnnee" (selectionChange)="getInscription()">
      <mat-option *ngFor="let annee of annees" [value]="annee">{{annee}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mention</mat-label>
    <mat-select [formControl]="selectedMention" (selectionChange)="getInscription()">
      <mat-option *ngFor="let mention of mentions" [value]="mention">{{mention.mentionName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-tab-group [formControl]="selectedNiveau" ngDefaultControl (selectedIndexChange)="setTabChange($event)">
  <mat-tab *ngFor="let niveau of niveaux" label="{{niveau.niveau}}">

    <table mat-table [dataSource]="dataSource" class="width-100">

      <!-- Position Column -->
      <ng-container matColumnDef="Matricule">
        <th mat-header-cell *matHeaderCellDef> Matricule </th>
        <td mat-cell *matCellDef="let element"> {{element.etudiant.matricule}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.etudiant.nomPrenom.nom}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Prénom">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.etudiant.nomPrenom.prenoms}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> We'll see </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="responseSize"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[1, 5, 10, 25, 100]"
                   showFirstLastButtons="true"
                   (page)="setPage($event)"
                   aria-label="Select page">
    </mat-paginator>

  </mat-tab>
</mat-tab-group>
