<div class="filter">
  <div></div>
  <mat-form-field appearance="outline">
    <mat-label>Année scolaire</mat-label>
    <mat-select [(value)]="selectedAnnee" (selectionChange)="getInscriptions()">
      <mat-option *ngFor="let annee of annees" [value]="annee">{{annee}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mention</mat-label>
    <mat-select [(value)]="selectedMentionCode" (selectionChange)="getInscriptions()">
      <mat-option *ngFor="let mention of mentions|async" [value]="mention.code">{{mention.mention}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-tab-group [selectedIndex]="selectedNiveau" (selectedIndexChange)="setTabChange($event)">
  <mat-tab *ngFor="let niveau of niveaux" label="{{niveau}}">

    <!-- content here -->

    <mat-paginator [length]="(inscriptions|async)?.size"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   showFirstLastButtons="true"
                   (page)="setPage($event)"
                   aria-label="Select page">
    </mat-paginator>

    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <div class="item">
        <ngx-skeleton-loader count="10" appearance="line"></ngx-skeleton-loader>
      </div>
    </div>

    <mat-accordion *ngIf="((inscriptions|async)?.data.length !== 0); else noContent">
      <mat-expansion-panel *ngFor="let insc of (inscriptions|async)?.data">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{insc.etudiant.nomPrenom.nom + " " + insc.etudiant.nomPrenom.prenoms}}
          </mat-panel-title>
          <mat-panel-description class="description">
            <div class="end-list">
              <div class="custom-chip">
                {{insc.etudiant.matricule}}
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-inscription-details-paiements [insc]="insc"></app-inscription-details-paiements>
      </mat-expansion-panel>
    </mat-accordion>

    <ng-template #noContent>
      <mat-card class="item" *ngIf="noContent">
        Il n'y a aucun étudiant sur la liste que vous recherchez.
      </mat-card>
    </ng-template>

    <!-- end content here -->

  </mat-tab>
</mat-tab-group>
