<div class="mat-title">Cahier de texte</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Voir les cours">
    <div class="tab-container">
      <app-cours></app-cours>
    </div>
  </mat-tab>
  <mat-tab label="Voir tous les cours">
    <div class="tab-container">
      <app-cours-list-all></app-cours-list-all>
    </div>
  </mat-tab>
  <mat-tab label="Inscrire un cours">
    <div class="tab-container">
      <app-create-cours></app-create-cours>
    </div>
  </mat-tab>
</mat-tab-group>
