<div class="margin-bottom">
  <mat-divider></mat-divider>
</div>

<div class="mat-subheading-1">Pour remplir le champ enseignant, utiliser cette séction. Le champ "Enseignant" n'est pas non plus obligatoire</div>

<form class="searchForm">
  <mat-form-field appearance="outline" class="searchCrirteria">
    <mat-label>Rechercher par</mat-label>
    <mat-select [formControl]="criteria">
      <mat-option *ngFor="let criteria of ['Nom', 'Prénoms', 'Matricule']" [value]="criteria">
        {{criteria}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="searchField" appearance="outline">
    <mat-label>Rechercher</mat-label>
    <input matInput type="text" [formControl]="searchString">
    <button matSuffix mat-icon-button aria-label="Search" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <mat-hint>Séléctionnez un critère de recherche</mat-hint>
  </mat-form-field>
</form>

<div *ngIf="showEns">
  <mat-paginator [length]="(enseignants|async)?.size"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 showFirstLastButtons="true"
                 (page)="setPage($event)"
                 aria-label="Select page"
                 *ngIf="!noContent">
  </mat-paginator>

  <mat-list>
    <mat-list-item *ngFor="let ens of (enseignants|async)?.data">
      <div class="list-item">
        <div>{{ens.nomPrenom.nom + " " + ens.nomPrenom.prenoms}}</div>

        <div class="end-list">
          <div class="custom-chip">{{ens.matricule}}</div>
          <button mat-stroked-button color="accent" (click)="choisirEnseignant(ens._id)">Choisir</button>
        </div>

      </div>
    </mat-list-item>
  </mat-list>
</div>


<div class="margin-bottom">
  <mat-divider></mat-divider>
</div>

<div class="commandButton">
  <form class="searchForm">
    <mat-form-field appearance="outline" class="searchCrirteria">
      <mat-label>Annee scolaire</mat-label>
      <mat-select [formControl]="factureAnneeScolaire" (selectionChange)="setAnneeForChange($event)">
        <mat-option *ngFor="let annee of anneList" [value]="annee">
          {{annee}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="searchCrirteria">
      <mat-label>Mois</mat-label>
      <mat-select [formControl]="factureMois" (selectionChange)="setMoisForChange($event)">
        <mat-option *ngFor="let moi of moisList" [value]="moi.id">
          {{moi.mois}}
        </mat-option>
        <button matSuffix mat-button aria-label="Search" (click)="resetMois()">
          <mat-icon>delete</mat-icon> Reinitialiser
        </button>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="searchCrirteria">
      <mat-label>Enseignant</mat-label>
      <mat-input  matTooltip="Pour séléctionner un enseignant, remplisser le champ en haut et selectionnez en un">
        <input matInput [formControl]="factureEnseignant">
      </mat-input>
      <button matSuffix mat-icon-button aria-label="Search" (click)="resetEns()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="searchCrirteria">
      <mat-label>Payée</mat-label>
      <mat-select [formControl]="facturePayee" (selectionChange)="setMoisForChange($event)">
        <mat-option *ngFor="let paye of payee" [value]="paye.value">
          {{paye.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<mat-paginator [length]="(factures|async)?.size"
               [pageSize]="fPageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               showFirstLastButtons="true"
               (page)="setPageFacture($event)"
               aria-label="Select page"
               *ngIf="!fNoContent">
</mat-paginator>

<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let fact of (factures|async)?.data">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{fact.enseignant.nomPrenom.nom + " " + fact.enseignant.nomPrenom.prenoms}}
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let cour of fact.cours">{{cour._id}}
      <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
