<!--div class="commandButton">
  <form class="searchForm">
    <mat-form-field appearance="outline" class="searchCrirteria">
      <mat-label>Rechercher par</mat-label>
      <mat-select [formControl]="criteria">
        <mat-option *ngFor="let criteria of ['Nom', 'Prénoms', 'Matricule']" [value]="criteria">
          {{criteria}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="searchField" appearance="outline">
      <mat-label>Rechercher</mat-label>
      <input matInput type="text" [formControl]="searchString">
      <button matSuffix mat-icon-button aria-label="Search" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-hint>Séléctionnez un critère de recherche</mat-hint>
    </mat-form-field>
  </form>
</div>

<mat-paginator [length]="(etudiants|async)?.size"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               showFirstLastButtons="true"
               (page)="setPage($event)"
               aria-label="Select page">
</mat-paginator>

<app-content-load [loading]="loading" [noContent]="noContent"></app-content-load>

<mat-accordion>
  <mat-expansion-panel *ngFor="let etudiant of (etudiants|async)?.data">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{etudiant.nomPrenom.nom + " " + etudiant.nomPrenom.prenoms}}
      </mat-panel-title>
      <mat-panel-description class="description">
        <div class="end-list">
          <div class="custom-chip">{{etudiant.matricule}}</div>
          <button mat-flat-button color="accent">
            <mat-icon>edit</mat-icon>
            Modifier
          </button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-inscriptions-list [etudiantID]="etudiant._id"></app-inscriptions-list>
  </mat-expansion-panel>
</mat-accordion-->

<table mat-table [dataSource]="dataSource" class="width-100">

  <!-- Position Column -->
  <ng-container matColumnDef="Photo">
    <th mat-header-cell *matHeaderCellDef> Photo </th>
    <td mat-cell *matCellDef="let element">
      <a mat-icon-button>
        <mat-icon *ngIf="!element.photoUrl">account_circle</mat-icon>
        <img *ngIf="element.photoUrl"
             [src]="element.photoUrl || 'https://material.angular.io/assets/img/examples/shiba1.jpg'"/>
      </a>
      {{ element.photoUrl }}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="Matricule">
    <th mat-header-cell *matHeaderCellDef> Matricule </th>
    <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.nomPrenom.nom}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Prénom">
    <th mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{element.nomPrenom.prenoms}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> We'll see </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="responseSize"
               [pageSize]="pageSize"
               [pageSizeOptions]="[1, 5, 10, 25, 100]"
               showFirstLastButtons="true"
               (page)="setPage($event)"
               aria-label="Select page">
</mat-paginator>
