<div class="margin-bottom">
  <mat-divider></mat-divider>
</div>

<div class="mat-title">Liste des cours éfféctués pour {{elementConst}}</div>

<div class="commandButton">
  <form class="searchForm">

    <mat-form-field appearance="outline" class="searchCrirteria">
      <mat-label>Statut du cours</mat-label>
      <mat-select [formControl]="closed" (selectionChange)="change($event)">
        <mat-option *ngFor="let state of closedStatus" [value]="state.value">
          {{state.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <mat-paginator [length]="(cours|async)?.size"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="setPage($event)"
                 showFirstLastButtons="true"
                 aria-label="Select page">
  </mat-paginator>
</div>

<mat-list>
  <mat-list-item *ngFor="let cour of (cours|async)?.data">
    {{cour.debut}}
  </mat-list-item>
</mat-list>
